@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: Montserrat, Arial, sans-serif;
}

.red {
    color: red;
}

.large {
    font-size: 72px;
}

.larger-anim {
    animation-name: scaleLarge;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes scaleLarge {
    0% {

    }

    50% {
        transform: scale(1.1);
    }

    100% {

    }
}
