<header class="header">
    <div class="navigation">
        <!-- be gay -->
        <a href="{{ site.baseurl }}/main" class="logo rainbow">~ {{ site.title }} ~</a>
        <!-- do crimes -->
        <ul class="menu">
            <li class="menu-item"><a href="{{ site.baseurl }}/me">me</a></li>
            <li class="menu-item"><a href="{{ site.baseurl }}/omnipresence">omnipresence™</a></li>
        </ul>
    </div>
    <ul class="social-links">
        {% if site.author.email %}
        <a href="mailto:hello@ablipintime.co" class="social-links-item" target="_blank">
            <i class="fa fa-envelope-square"></i>
        </a>
        {% endif %}
        {% if site.author.github %}
        <a href="https://github.com/objecteds" class="social-links-item" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}
    </ul>
</header>