<header class="header">
    <div class="navigation">
        <!-- be gay -->
        <a href="{{ '/main' | prepend: site.baseurl }}" class="logo rainbow">{{ site.title }}</a>
        <!-- do crimes -->
        <ul class="menu">
            <li class="menu__entry"><a href="{{ '/about' | prepend: site.baseurl }}">about</a></li>
            <li class="menu__entry"><a href="{{ '/stuff' | prepend: site.baseurl }}">stuff™</a></li>
        </ul>
    </div>
    <ul class="social-links">
        {% if site.author.email %}
        <a href="mailto:hello@ablipintime.co" class="social-links__entry" target="_blank">
            <i class="fa fa-envelope-square"></i>
        </a>
        {% endif %}
        {% if site.author.github %}
        <a href="https://github.com/objecteds" class="social-links__entry" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}
    </ul>
</header>