@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Poppins:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    background-color: #111111;
    color: #edf2f4;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
}

h3 {
    font-family: 'Rubik', sans-serif;
}

a {
    color: #ef233c;
    font-weight: bold;
    text-decoration: none; 
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.welcome-section {
    margin-top: auto;
    margin-bottom: auto;
}

.welcome-section h1 {
    max-width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

.welcome-section ol, p {
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Rubik', sans-serif;
    font-size: 120%;
}

.welcome-section li {
    font-family: 'Rubik', sans-serif;
    line-height: 150%;
}
