/********** VARIABLES **************
:root {
  --main-font-family: 'Quicksand', sans-serif;
  --main-text-color: #ccc;
  --main-background-color: #111111;
  --main-bold-color: #ffbb00;
  --main-anchor-color: #ef233c;
  --main-border-color: #aaa;
  --hover-anchor-color: #ef233bc7;
  --toc-anchor-color: #e2e2e2;
  --toc-hover-anchor-color: #fff;
  --toc-background-color: #222; 
}

/*************** BASE **************
body {
  font-family: var(--main-font-family);
  font-size: 100%;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

a {
  color: var(--main-anchor-color);
  font-weight: bold;
  text-decoration: none;
}

p,
ul,
ol,
dl {
  font-size: 20px;
  line-height: 32px;
  color: var(--main-text-color);
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 0px;
  text-align: center;
  position: relative;
}

blockquote footer {
  position: absolute;
  bottom: -35px;
  font-size: 80%;
  color: #333333;
  letter-spacing: 0px;
  left: 0px;
  right: 0px;
}

blockquote p {
  display: inline;
  font-size: 120%;
  color: #828282;
  font-weight: 400;
}

strong {
  color: var(--main-bold-color);
}

h1 {
  font-size: 2em;
  margin: 1.75em 0 0.375em 0;
  box-shadow: 0 -1px 0 0 #444 inset, 0 -2px 0 0 #444 inset;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.45em;
}

h4 {
  font-size: 1.25em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--main-background-color);
}

tr:hover {
  background-color: #333333;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}


.wrapper {
  max-width: 800px;
  margin: 60px auto;
  padding-left: 40px;
  padding-right: 40px
}

/*************** HEADER **************
.header {
  overflow: hidden;
}

.navigation {
  float: left;
}

.logo {
  font-size: 300%;
  font-weight: 700;
  display: block;
}

.menu {
  color: #828282;
  font-size: 150%;
  margin: 0px;
  margin-top: 6px;
  padding: 0px;
  list-style-type: none;
}

.menu__entry {
  display: inline-block;
  margin-right: 35px;
}

.menu__entry:last-child {
  margin-right: 0px;
}

.menu__entry a {
  font-weight: 400;
}

.menu__entry a:hover {
  color: var(--hover-anchor-color);
}

.social-links {
  float: right;
  font-size: 150%;
  list-style-type: none;
}

.social-links__entry {
  display: inline-block;
  margin-left: 10px;
}

.social-links a:hover {
  color: var(--hover-anchor-color);
}


/*************** MAIN **************
.main a:hover {
  color: var(--hover-anchor-color);
}

/*************** TITLE **************
.page-title {
  margin: 30px auto;
  text-align: center;
}

.page-title__text {
  font-weight: 700;
  font-size: 1.5em;
}

.page-title__subtitle {
  font-weight: 400;
  font-size: 1em;
  color: #828282;
}

/*************** POST TEASERS **************
.list-posts {
  list-style-type: none;
  padding: 0px;
}

.post-teaser {
  margin-bottom: 15px;
  font-weight: 700;
}

.post-teaser__title {
  font-size: 100%;
  color: #edf2f4;
}

.post-teaser__date {
  font-size: 100%;
  float: right;
  vertical-align: middle;
  color: #edf2f4;
}

.post-teaser__month {
  width: 100%;
  text-align: center;
}

.empty-post-list {
  font-size: 150%;
  font-weight: 700;
  color: #333333;
  text-align: center;
}

/*************** TABLE OF CONTENTS **************
.toc {
  border: 1px solid var(--main-border-color);
  margin: 0 2rem 1.5rem 0;
  max-width: 285px;
  padding-right: 2em;
  float: left;
  background-color: var(--toc-background-color);
  overflow-wrap: break-word;
}

.toc::before {
  font-weight: bold;
}

.toc ul {
  list-style-type: none;
  counter-reset: item;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

.toc li {
  border: 0;
  position: relative;
}

.toc li:before {
  content: counters(item, ".") " ";
  counter-increment: item
}

.toc a {
  display: inline-block;
  padding-right: 1.0em;
  color: var(--toc-anchor-color);
}

.toc a:hover {
  color: var(--toc-hover-anchor-color);
  background-color: #363636;
}

/*************** ABSTRACT **************
.abstract {
  margin: 0 0 1.5em 0;
  background-color: var(--toc-background-color);
  border: 1px solid var(--main-border-color);
  padding: 0.9rem 1.25rem 0.95rem 1.25rem;
  overflow: hidden;
}

/*************** MAIN CONTENT **************
.post .content a {
  border-bottom: 1px dotted #999
}

/*************** FOOTER **************
.footer {
  color: #828282;
  text-align: center;
  line-height: 24px;
}

.footer-divider {
  font-size: 100%;
  letter-spacing: 9.09px;
}

.footer-text {
  font-size: 100%;
}

/* Main Page 
#about-img {
  border-radius: 13%;
  max-width: 125px;
  margin: auto;
  margin-bottom: 3%;
}

#describe-text {
  display: block;
  text-align: center;
  width: 100%;
}

/*************** MEDIA QUERIES (FOR SMALL SCREENS) **************
@media (max-width: 500px) {

  p,
  ul,
  ol,
  dl {
    font-size: 100%;
    line-height: 1.6;
  }

  .wrapper {
    width: 90%;
    margin: 15px auto;
  }

  .navigation,
  .social-links {
    display: block;
    text-align: center;
    width: 100%;
  }

  .social-links {
    font-size: 200%;
    margin: 10px auto;
  }

  .page-title {
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .page-title__text {
    font-size: 150%;
  }

  .page-title__subtitle {
    font-size: 65%;
  }

  .post-teaser__title {
    font-size: 150%;
    display: block;
    text-align: center;
    width: 100%;
  }

  .post-teaser__date {
    font-size: 100%;
    margin-top: 10px;
    float: none;
    display: block;
    text-align: center;
    width: 100%;
  }
}
