<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.headtitle %} {{page.headtitle}} {% else %} a blip in time {% endif %}</title>
<meta name="description" content="there's something here.">
{% if page.tags %}
<meta name="keywords" content="{{ page.tags | join: ', ' }}">{% endif %}
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
<script src="{{ site.baseurl }}/assets/js/mathjax-config.js" defer></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
