@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Poppins:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: 'Montserrat', 'Poppins', sans-serif;
}

h3 {
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

nav li {
  float: left;
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

nav li a{
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-shadow: 0.8px 0.8px #000;
}

nav li a:hover {
  background-color: lightgray;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
}

.contact-section h1 {
  margin-left: auto;
  margin-right: auto;
  font-size: 48px;
  text-shadow: 1px 1px;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  font-family: 'Poppins', 'Montserrat', sans-serif;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  color: white;
}

.contact-details:hover {
  transform: translateY(8px);
}


