@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@600&family=Poppins:wght@500&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'Montserrat', 'Poppins', sans-serif;
}

h3,
p {
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    width: 100%;
}

nav li {
    float: left;
    font-family: 'Poppins', 'Montserrat', sans-serif;
}

nav li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-shadow: 0.8px 0.8px #000;
}

nav li a:hover {
    background-color: lightgray;
}

.projects-section {
    text-align: center;
    padding: 2rem 2rem;
    background: darkgray;
}

.projects-section h1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    text-shadow: 1px 1px;
}

.projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
    .projects-section-header {
        font-size: 4rem;
    }
}


/* "Automagic" image grid using no media queries */

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 55%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
    margin-top: 6rem;
}

@media (max-width: 30.625em) {
    .projects-section {
        padding: 6rem 1rem;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }
}

.project-tile {
    background-color: rgb(70, 70, 70);
}

.projects-section a {
    color: white;
}

.project {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
}

.project-image {
    height: 192px;
    width: 192px;
    object-fit: cover;
}

.project-title {
    font-size: 24px;
    font-family: 'Poppins', 'Roboto Slab', sans-serif;
    text-shadow: 0.5px, 0.5px;
}

.project-description {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

.project-tile:hover {
    transform: scale(1.1)
}